@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
}

body{
    /* background-color:#E5E5E5; */
    position: relative;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
}

/* ---------HEADER--------- */

header{
    height: 75px;
    width: 100%;

    display: flex;

    background-color:#FDF1EB;

    position: relative;
}

header div{
    position: relative;
    left:420px;
}

.spanOne{
    font-family: 'Roboto', sans-serif;
    font-weight:400; 
    font-size:14px;
    line-height: 16.41px;
    color:#725C5C;
}

.spanTwo{
    font-family: 'Roboto', sans-serif;
    font-weight:400; 
    font-size:22px;
    line-height: 25.78px;
    color:#725C5C;

    position: relative;
    top: 23px;
    right:397px;
}

.spanThree{
    font-family: 'Roboto', sans-serif;
    font-weight:400; 
    font-size:16px;
    line-height: 16.41px;
    color:#725C5C;

    position: relative;
    top: 45px;
    right:1044px;
}

.spanFour{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.5px;
    color:#333333;

    position: relative;
    left:1437px;
    top: -40px;
}

.spanFive{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.5px;
    color:#333333;

    position: relative;
    left:1240px;
    top: -25px;
}

.spanSix{

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 11.72px;
    color: #ffffff;

    position: absolute;
    left:1539.5px;
    bottom:50px;

    z-index: 1;
}

.redDot{
    position: relative;
    left: 1225px;
    bottom: 45px;
}

.switch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    left: 950px;
    bottom: 5px;

    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 4px;
    width: 97px;
    height: 34px;
}

.switch button{
    border: none;
    background: transparent;
}

.perfil{
    border-radius: 50%;

    position: relative;
    left: 1240px;
    bottom: 25px;
}

.perfilBox{
    position: relative;
    left: -250px;
    top: -10px;
}


/* --------- SLACA--------- */

.slaca{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;

    width: 220px;
    height: 100vh;

    box-shadow: 0px 5px 10px 3px gray;
}

.slaca h2{
    padding: 20px;
    background: linear-gradient( to bottom, #FFB354 16.62%,  #EE7A3A  85.61%);

    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 30px;
    line-height: 35.16px;
}

.slaca img{
    width: 220px;
    height: 258px;
}   

.slaca ul{
    position: relative;
    /* left: 20px; */
    top: 15px;
}

.slaca li{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 18.75px;

    align-self: center;

    list-style: none;

    height: 33px;
    margin-bottom: 10px;
}

.slaca li:nth-of-type(5){
    border-left: 5px solid #EE7A3A;
    border-radius: 2px;
    background-color:#FDF1EB;
    width: 100%;
    padding-left: 2px;
}

/* -----------MAIN----------- */

main{
    position: relative;
    display: flex;
    flex-direction: column;
}

main h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    color: #ED7839;

    position: relative;
    left:413px;
    top: 15px;
}

/* --------------BUTTONS SECTION-------------- */

.buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:flex-end ;

    position: relative;
    right: 293px;
    top: -30px;

}

nav{
    margin-bottom: 4px;
}

.outNav{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #ED7839;
}

.navLink{
    border: none;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:16px;
    line-height: 18.75px;

    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 7px;
    background-color:#ED7839;
    color: #FFFFFF;
}

.navLink img{
    width: 19px;
    height: 19px;
}

/* --------------SECTION DETAILS-------------- */

.details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    right:293px;
    top: 85px;

    border: 2px solid #ECECEC;
    border-radius: 3px;

    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;


    width: 242px;
    height: 439px;
}


.details h2{
    border-bottom: 2px solid #ECECEC;
    background-color:#FDF1EB ;
    width: 12em;
    text-align: left;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;

    position: relative;
}

.type{
    position: relative;
    top: 15px;
}

.authors{
    position: relative;
    top: 55px;
}

.university{
    position: relative;
    top: 95px;

    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 12.5px;
    line-height: 16.8px;
    color: #a19696;
    text-align:left;
}
/* ---------- SECTION VIDEO OVERLAY---------- */

.videoOverlay{
    position: relative;
    left: 420px;
    top: -20px;

    Width: 783px;
    Height: 439px;
    
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    justify-content: flex-end;
}

.videoOverlay h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 25px;
    color:#FFFFFF;

    position: absolute;
    top:10px;

    /* align-self: flex-end; */
}

.overlaySpanOne{
    align-self: flex-start;
    position: absolute;

    left: 120px;
    bottom: 80px;

    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 34px;
    line-height: 25px;
    color: #ffffff;
}

.overlaySpanTwo{
    align-self: flex-start;
    position: absolute;

    left: 120px;
    bottom: 50px;

    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
}

.videoBackground{
    /* width: 1210px;
    height: 100%; */

    height: 100%;
    width: 120%;
    position: relative;
    left: 150px;
    z-index: 1;
}

.photo{
    height: 86px;
    width: 84px;

    border: 2px solid #ED7839;
    border-radius: 50%;
    padding: 5px;

    position: absolute;
    left: 20px;
    top: 315.33px;

    z-index: 2;
}

.videoImg{
    position: absolute;
    left: -6px;

    height: 100%;
    width: 120%;

    z-index: 0;
}

/* -----------------SECTION RESUMO----------------- */

.resumo{
    position: relative;
    left: 410px;
}

.resumo h2{
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #4E4E4E;

    border-bottom: 2px solid #ECECEC;
    background-color:#FDF1EB ;
    width: 100%;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1px;

}

.resumo p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 21.33px;
    color: #5C5C5C;

    margin-top: 12px;
    text-align: justify;

}

.box{
    border: 2px solid #ECECEC;
    border-radius: 3px;
    width: 63.45%;
    height: 100%;
}


/* -----------------SECTION DISCUSSIONS----------------- */

.discussions{
    position: relative;
    left: 410px;
    top: 30px;
    width: 63.45%;

    display: flex;
    flex-direction: column;

    border: 1px solid #ececec;

    padding-bottom: 10px;

}

.discussions-newTopic h2{
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #4E4E4E;

    border-bottom: 2px solid #ECECEC;
    background-color:#FDF1EB;
    width: 100%;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1px;
}

.doubts{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.09px;
    color:#ED7839;

    position: relative;
    top: 10px;

    display: flex;
    justify-content: center;
}

                    /* ICONS */

.icons{
    position: relative;
    left: 150px;
    display: flex;
}

                    /* HAND INCON */

.hand{
    position: relative;
    left: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image:url(./images/background.png);
    background-size: cover;

    height: 50px;
    width: 50px;
}

.leafs{
    position: relative;
    left: 5px;
    top: 5px;

    width:25.74px;
    height:15.62px;
}

.wrist{
    position: relative;
    top: 7.5px;
    left:-9px;

    width:6.9px;
    height:12.9px;
}

.handImg{
    position: relative;
    top: -3px;
    left: 7px;

    width:24.8px;
    height:13.1px;
}

                /* QUESTION AND ANWSERS ICON */

.QandA{
    position: relative;
    left: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image:url(./images/background.png);
    background-size: cover;

    height: 50px;
    width: 50px;
}

.Q{
    position: relative;
    left: -10px;
    top: 12px;

    width: 19.74px;
    height: 20.75px;
}

.q{
    position: relative;
    top: -3px;
    left: -9.5px;
    
}

.A{
    position: relative;
    left: 9.5px;
    bottom: 6px;
}

.a{
    position: relative;
    top: -20px;
    left: 8px;

    width: 8px;
    height: 5px;
}

                    /* IDEA ICON */

.idea{
    position: relative;
    left: 400px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-image:url(./images/background.png);
    background-size: cover;

    height: 50px;
    width: 50px;
}                    


.lamp{
    position: relative;
    top: -12px;
    left: 33px;
}

.base{
    position: relative;
    top: -3px;
    left: 24px;
}
.headOne{
    position: relative;
    top: 6px;
    left: 7px;
}

.bodyOne{
    position: relative;
    top: 14px;
    right:5px;
}

.headTwo{
    position: relative;
    top: 6px;
    left: 3px;
}

.bodyTwo{
    position: relative;
    top: 14px;
    right:9px;
}
/* -----------REST OF THE DISCUSSIONS SECTION----------- */

.aboveTopic{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.25px;
    color:#595959;

    display: flex;
    justify-content: center;
    text-align: center;

    margin-top: 18px;
}

.linha{
    position: relative;
    top: 30px;

    border: 1px solid #E7E7E7;
}

.newTopicButton{
    background: linear-gradient( to bottom, #FFB354 16.62%,  #EE7A3A  85.61%);

    font-family: 'Quicksand' sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height:16px;
    color: #ffffff;

    padding: 10px;

    border-radius: 5px;
    border: none;

    position: relative;
    left: 550px;
    top: 10px;
}

/* DIV DISCUSSION TOPICS  */

.discussions-topics{
    padding: 10px;
    margin-top: 20px;

    position: relative;
    left: 5px;

    width: 99%;
    height: 99%;

    box-shadow: 2px 2px 2px 2px #dfdfdf;
    border-radius: 2px;
}

.discussions-topics h2{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color:#ED7839;
}

.discussions-topics span{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color:#5C5C5C;
}

.discussions-topics p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.5px;
    color:#4d4d4d;
}

.dots{
    display: flex;
    flex-direction: column;

    position: relative;
    top: 3px;
}

.dots img{
    height: 4px;
    width: 4px;
    margin-bottom: 3px;
}

.like{
    position: absolute;
    left: 25px;
    bottom: 2px;
}

.heart{
    position: relative;
    bottom: 7px;
    right: 26px;
}

.likeAndAnwser{
    position: absolute;
    bottom: 10px;
    left: 75px;
}

.likeAndAnwser span{
    margin-right: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #757575;
}

/* ------------FOOTER------------ */

footer{
    position: relative;
    left: 415px;
    top: 50px;

    width: 100%;
    height: 181px;
}

footer img{
    height: 100%;
    width: 65%;
}